.md-header {
  background-color: white;
  color: black;
  max-height: 70px;
  height: 70px;
  border-bottom: 1px solid #0f0f0f;
}

.md-header--shadow {
  box-shadow: none;
  transition: none;
}

.md-ellipsis{
  font-family: "Takeoff-Regular", "Takeoff-Regular Fallback", sans-serif;
  line-height: 31.08px;
  font-size: 24px;
}

.md-tabs {
  background-color: rgb(223, 225, 240);
  color: #5e63b6 !important;
}

.md-footer {
  background-color: #0f0f0f;
}
